body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 20px;
    background-color: #045baa;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main{
    padding: 100px;
    position: auto;
}



